// Header logo styles
img.logo {
  margin: $center;
  width: 100%;
  max-width: 10rem;
  height: auto;
  align-self: start;
}

// Header icon Styles
img.header-icon {
  height: 2rem;
}

#user-icon, #bag-icon {
  justify-self: end;
}

#user-icon, #bag-icon, #search-icon {
  margin: 1.5rem 0 0 0;
  padding: 0 1rem;
  position: relative;

  &:hover {
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      left: 50%;
      margin-left: -1rem;
      @include border('left', 1rem, solid, transparent);
      @include border('right', 1rem, solid, transparent);
      @include border('bottom', 1rem, solid, $violet-red);
    }
  }
}

@media only screen and (min-width: $header-breakpoint) {
  img.logo {
    margin: 0;
    height: auto;
    width: 17rem;
    order: 1;
  }

  #user-icon {
    order: 3;
  }

  #search-icon {
    order: 4;
  }

  #bag-icon {
    order: 5;
  }
}