// Color Variables
$dodger-blue: rgba(10, 186, 254, 1);
$violet-red: rgba(237, 55, 155, 1);
$lima: rgba(62, 229, 36, 1);
$yellow: rgba(248, 255, 0, 1);
$mine-shaft: rgba(60, 60, 60, 1);
$white: rgba(255, 255, 255, 1);

// Width variables
$max-width: 1920px;
$max-height: 1080px;

// Breakpoint variables
$header-breakpoint: 1125px;
$main-page-menu-breakpoint-tablet: 820px;
$main-page-menu-breakpoint-desktop: 1100px;
$main-page-our-story-breakpoint: 800px;
$contact-breakpoint-tablet: 750px;
$contact-breakpoint-desktop: 900px;

// Default centering
$center: 0 auto;