.woocommerce-cart {
  position: relative;

  .woocommerce {
    position: relative;
    width: 100%;
    max-width: $max-width;
    background-image: url('../../themes/traptreatz/images/brick-wall_small.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.6);
    }

    & * {
      z-index: 10;
    }

    /* .woocommerce-notices-wrapper {
      background-color: #fff;
      position: absolute;
      z-index: 10;
      top: 10rem;
      left: 50%;
      transform: translateX(-50%);

      & > .woocommerce-message {
        padding: 4rem;
        font-size: 1.5rem;

        i.fas {
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.5rem;
        }
      }

      &.hide-notice {
        display: none;
      }
    } */
  }
}

.woocommerce-cart-form, .cart-collaterals {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.cart-title {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  padding: 1rem 0;

  & > * {
    margin: 0;
    padding: 0 1rem;
  }

  & > h2 {
    font-family: 'Philly Sans', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  & > h3 {
    @include align-self(flex-end);
    text-transform: lowercase;
    color: $mine-shaft;
  }
}

.shop_table {
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  margin: $center;
  padding: 0;
  width: 100%;
  /* width: 625px; */
  list-style-type: none;

  & > button[type=submit] {
    display: none;
  }
}

.woocommerce-cart-form__cart-item {
  position: relative;
  @include display-grid();
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1rem 2rem;
  padding: 1rem;
  background-color: $violet-red;

  & > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  
  & > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  
  & > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .product-thumbnail {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    @include justify-self(center);
  }
  
  .product-name-quantity-container {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    @include justify-self(start);
  }
  
  .product-remove-subtotal-container {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    @include justify-self(end);
    @include align-self-grid(end);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 95%;
    @include border(top, 0.0625rem, solid, $white);
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }

  .product-thumbnail {
    a > .attachment-woocommerce_thumbnail {
      width: 100%;
      height: 100%;
      min-width: 100px;
      min-height: 100px;
      max-width: 150px;
      max-height: 150px;
      @include border-default(0.5rem, solid, $yellow);
      border-radius: 50%;
    }
  }

  .product-name-quantity-container {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-items(flex-start);

    .product-name {
      @include flexbox();
      @include flex-direction(column);
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);
      @include align-items(flex-start);

      & > a {
        text-decoration: none;
        color: $white;
        font-family: 'Philly Sans', serif;
        font-size: 2rem;
      }

      & > .variation {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include justify-content(flex-start);
        color: $white;

        dd.variation-Flavor {
          margin-left: 1rem;

          & > p {
            margin: 0;
          }
        }
      }
    }

    .product-quantity {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(center);

      button[type=button] {
        background-color: $dodger-blue;

        &:hover {
          background-color: $mine-shaft;
        }
      }

      .quantity {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        & > input[type=number] {
          -moz-appearance: textfield;
          background-color: transparent;
          color: $white;
          font-size: 2rem;
          width: 4rem;
          border: 0;
          text-align: center;

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }

  .product-remove-subtotal-container {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    text-align: right;

    .product-remove {
      margin-bottom: 2rem;

      & > a {
        color: $white;
        font-size: 1rem;
        text-decoration: none;
      }
    }

    .product-subtotal {
      color: $white;
      font-size: 1rem;
      
    }
  }
}

.coupon {
  @include display-grid();
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem 2rem;
  padding: 1rem 1rem 0.5rem;

  input[type=text] {
    width: auto;
    border: 0;
    border-radius: 1.5rem;
    line-height: 1.5rem;
    padding: 0.375rem 1rem;
    background-color: $violet-red;
    color: $white;
    outline: none;
  }

  @include placeholder($white);

  button.button {
    font-family: 'Philly Sans', serif;
    font-size: 2rem;
    background-color: $yellow;
    color: $violet-red;
    border-radius: 1.5rem;
    padding: 0 2rem;
    @include transition(all, 0.3s);

    &:hover {
      background-color: $violet-red;
      color: $yellow;
    }

    &:active {
      background-color: $violet-red;
      color: $yellow;
    }
  }
}

.cart_totals {
  & > h2 {
    display: none;
  }

  & > .shop_table {
    padding: 0 1rem 1rem;

    tr {
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
      padding-bottom: 0.5rem;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

.wc-proceed-to-checkout {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  & > .checkout-button {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    text-align: center;
    font-family: 'Philly Sans', serif;
    font-size: 2rem;
    letter-spacing: 0.250rem;
    background-color: $lima;
    color: $yellow;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all, 0.3s);

    &:hover {
      background-color: $yellow;
      color: $lima;
    }

    &:active {
      background-color: $yellow;
      color: $lima;
    }
  }
}

@media only screen and (min-width: $cart-breakpoint-desktop) {
  .woocommerce-cart-form__cart-item {
    position: relative;
    @include display-grid();
    -ms-grid-columns: auto 2rem auto 2rem 1fr;
    grid-template-columns: auto auto 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 2rem;
    @include align-items(center);
    padding: 2rem;
  
    & > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    
    & > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    
    & > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }

    .product-thumbnail {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
    
    .product-name-quantity-container {
      -ms-grid-column: 2;
      grid-column-start: 2;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
    }
    
    .product-remove-subtotal-container {
      -ms-grid-column: 3;
      grid-column-start: 3;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-row: 1;
      grid-row-start: 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      @include align-self-grid(center);
    }
  }

  .coupon {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    padding: 2rem 2rem 0.5rem;
  }

  .cart_totals {
    & > .shop_table {
      padding: 0 2rem 2rem;
    }
  }
}

@media only screen and (min-width: $contact-breakpoint-tablet) {
  .woocommerce-cart {
    .woocommerce {
      background-size: cover;
      background-repeat: repeat;
    }
  }
}