.site-header {
  background-color: $dodger-blue;
}

.site-header-logo-container {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  background-color: $lima;

  .header-logo-image {
    width: 90%;
    max-width: 20rem;
    height: auto;
    padding: 0.25rem 0;
  }
}

.site-header-container {
  position: relative;
  @include display-grid();
  -ms-grid-columns: 2.5rem 0.75rem 1fr 0.75rem 2.5rem 0.75rem 2.5rem 0.75rem 2.5rem;
  grid-template-columns: 2.5rem 1fr 2.5rem 2.5rem 2.5rem;
  grid-gap: 0.75rem;
  justify-items: center;
  @include align-items(center);
  max-width: $max-width;
  margin: $center;
  padding: 1rem;

  & > .cart-contents {
    text-decoration: none;
    color: $white;
    position: relative;

    & > .bag-total {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0.75rem;
    }
  }
}

.main-header-navigation {
  display: none;
}

.navbar-open {
  cursor: pointer;

  .svg-icon {
    width: 2rem;
    height: 2rem;

    path {
      fill: $white;
    }
  }
}

.side-nav {
  position: fixed;
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $violet-red;
  opacity: 0.9;
  height: 100vh;
  overflow-x: hidden;
  transition: 0.5s;

  .side-menu-close {
    padding: 1rem;

    .svg-icon {
      float: right;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.25rem;

      path {
        fill: $white;
      }
    }
  }

  #menu-header-navigation-1 {
    list-style-type: none;
    margin: 0;
    padding: 0 1rem 0 1rem;
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);

    & > li {
      height: 3.5rem;
      @include flexbox();
      @include align-items(stretch);
      @include align-content(center);
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      @include border('bottom', 0.125rem, solid, $white);

      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        @include flexbox();
        @include align-items(center);
        padding: 0 1rem;
        transition: 0.3s;
        white-space: nowrap;
      }
    }
  } 
}

.show-menu {
  width: 15.625rem;
}

.hide-menu {
  width: 0rem;
}

// Media queries for desktop
@media only screen and (min-width: $header-breakpoint) {
  .site-header-container {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    padding: 0;
    
    .navbar-open {
      display: none;
    }

    .side-nav {
      display: none;
    }

    & > .cart-contents {
      & > .bag-total {
        top: 1.4rem;
      }
    }
  }

  .main-header-navigation {
    order: 2;
    display: block;

    #menu-header-navigation {
      list-style-type: none;
      margin: 0;
      padding: 0;
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
      @include align-items(center);

      & > li {
        @include flexbox();
        @include align-items(stretch);

        a {
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          padding: 1.75rem 2rem;
          @include flexbox();
          @include align-items(center);
          @include transition(all, 0.3s);

          &:hover {
            background-color: $mine-shaft;
          }
        }
      }
    } 
  }
}