.landing-banner {
  height: calc(100vh - 5.5rem);
  max-height: $max-height;
  background-color: $lima;
  @include border('bottom', 0.250rem, solid, $dodger-blue);
}

.landing-banner-container {
  max-width: $max-width;
  height: 100%;
  margin: $center;
  @include flexbox();
  @include flex-flow(column, nowrap);
  @include align-items(center);
  @include justify-content(center);

  .landing-title {
    width: 500px;
    height: auto;
  }

  .landing-button {
    background-color: $yellow;
    color: $violet-red;
    margin-top: 2rem;
  }
}