.product-menu {
  @include flexbox();
  @include flex-flow(column, wrap);
  @include align-items(center);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .sweet-items-container, .savory-items-container {
    width: 100%;
    max-width: 1920px;
    margin: $center;
  }
}

.menu-title-container {
  background-color: $mine-shaft;
  width: 100%;

  & > h2 {
    color: $violet-red;
    margin: $center;
    padding-top: 1rem;
    text-align: center;
  }

  & > p {
    color: $white;
    margin: $center;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    width: calc(100% - 2rem);
    max-width: 30rem;
  }
}

.sweet-menu-title {
  display: block;
  min-width: 12rem;
  width: 90%;
  max-width: 18.75rem;
  margin: $center;
}

.savory-menu-title {
  display: block;
  min-width: 12rem;
  width: 90%;
  max-width: 18.75rem;
  margin: 2rem auto;
}

.woocommerce ul.products {
  @include flexbox();
  @include flex-flow(row, wrap);
  @include align-items(center);
  @include justify-content(center);
  margin: 0;
  padding: 0;
  list-style-type: none;

  li.product {
    @include flexbox();
    @include flex-flow(column, nowrap);
    @include align-items(center);
    @include flex-child(0, 0, auto);
    background-color: $violet-red;
    width: 100%;
    max-width: 15.625rem;
    margin: 1rem;

    .woocommerce-loop-product__link {
      @include flexbox();
      @include flex-flow(column, nowrap);
      @include align-items(center);
      text-decoration: none;
      color: $white;
      background-color: $white;
      width: 100%;

      img {
        @include border-default(0.750rem, solid, $violet-red);
        border-radius: 50%;
        box-shadow: 0.125rem 0.25rem 0.25rem rgba(0,0,0,0.2);
        width: 12rem;
        height: 12rem;
        margin: 1.5rem 0;
      }

      .woocommerce-loop-product__title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-color: $violet-red;
        margin: 0;
        padding-top: 1.25rem;
        @include border(top, 0.5rem, solid, $lima);
        text-shadow: 0.1rem 0.175rem 0.175rem rgba(0,0,0,0.2);
      }

      .price {
        width: 100%;
        margin: 0;
        padding-top: 1rem;
        text-align: center;
        background-color: $violet-red;
        text-shadow: 0.1rem 0.175rem 0.175rem rgba(0,0,0,0.2);
      }
    }

    .add_to_cart_button {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      padding: 0.25rem 2rem;
      background-color: $yellow;
      box-shadow: 0.125rem 0.25rem 0.25rem rgba(0,0,0,0.2);
      border-radius: 2rem;
      text-decoration: none;
      color: $dodger-blue;
      text-shadow: 0.1rem 0.1rem 0.175rem rgba(0,0,0,0.2);
      transition: all 0.5s;

      &:hover {
        background-color: $dodger-blue;
        color: $yellow;
      }
    }
  }
}